* {
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

@font-face {
  font-family: "BPdiet";
  src: url("../fonts/BPdiet.otf"); }

@font-face {
  font-family: "cooper-hewitt";
  src: url(../fonts/cooper-hewitt/CooperHewitt-HeavyItalic.otf); }

.header {
  background-color: #7dba84; }

.textoFooter {
  color: white;
  padding-top: 35px; }

/* ARRANCA CSS DE INDEX */
.contenedor {
  display: grid;
  width: 100vw;
  gap: 5px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25%;
  grid-template-areas: "logoEscuela articuloEscuela" "logoCanchas articuloCanchas" "logoGym articuloGym"; }

.menu1 ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 30vw; }
  .menu1 ul li {
    border: solid 2px black;
    background-color: #e2f89c;
    padding: 1px;
    font-size: smaller; }
    .menu1 ul li:hover {
      background-color: linear-gradient(#e2f89c, #c85777);
      padding: 20px;
      transition: all .1s; }

.logoEscuela {
  grid-area: logoEscuela;
  width: 50vw;
  height: 100vh; }

.articuloEscuela {
  grid-area: articuloEscuela;
  background-color: #30638e;
  width: 50vw; }

.logoCanchas {
  grid-area: logoCanchas;
  width: 50vw;
  height: 100vh; }

.articuloCanchas {
  grid-area: articuloCanchas;
  background-color: #7fb069; }

.logoGym {
  grid-area: logoGym;
  width: 50vw;
  height: 100vh; }

.articuloGym {
  grid-area: articuloGym;
  background-color: #f5853f; }

@media screen and (min-width: 768px) {
  .contenedor {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 20% 80%;
    grid-template-rows: 7% 32% 32% 32%;
    grid-template-areas: "nav nav" "logoEscuela articuloEscuela " "logoCanchas articuloCanchas " "logoGym articuloGym "; }
  .menu1 ul {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 50vw;
    padding-bottom: 50px; }
    .menu1 ul li {
      border: solid 2px black;
      background-color: #e2f89c;
      padding: 3px; }
      .menu1 ul li:hover {
        background-image: linear-gradient(#e2f89c, #7adfbb);
        font-size: larger;
        padding: 20px;
        transition: all .1s; }
  .logoEscuela {
    width: 50vw;
    height: 100vh; }
  .articuloEscuela {
    background-color: #30638e;
    width: 150vw; }
  .logoCanchas {
    width: 50vw;
    height: 100vh; }
  .articuloCanchas {
    background-color: #7fb069; }
  .logoGym {
    width: 50vw;
    height: 100vh; }
  .articuloGym {
    background-color: #f5853f; } }

.logoEscuela {
  width: 100%;
  height: 100%; }

.articuloEscuela {
  width: 100%;
  height: 100%; }

.logoCanchas {
  width: 100%;
  height: 100%; }

.articuloCanchas {
  width: 100%;
  height: 100%; }

.logoGym {
  width: 100%;
  height: 100%; }

.articuloGym {
  width: 100%;
  height: 100%; }

nav {
  width: 100vw; }

.redes {
  width: 30px;
  height: 30px; }

h1 {
  font-family: "BPdiet";
  /* font-size:xx-large;
    text-align: left; */
  color: black; }

h2 {
  font-family: "cooper-hewitt";
  margin: 5px;
  color: #e2f89c;
  font-weight: bold;
  text-align: center; }

iframe {
  height: 90%;
  width: 99%; }

caption {
  margin: 3px 40%;
  padding: 5px;
  font-style: italic;
  caption-side: top;
  color: #7adfbb;
  text-align: center;
  border: 2px solid black; }

.texto {
  font-family: "cooper-hewitt";
  font-style: italic;
  color: black; }

.articuloEscuelita {
  background-color: rgba(216, 211, 204, 0.5); }

table {
  width: 100%;
  border: 3px solid black;
  border-collapse: collapse; }

tbody tr td {
  text-align: center; }

th,
tfoot,
td {
  border: 3px solid black; }

.fondoEscuela {
  background-image: linear-gradient(rgba(5, 7, 12, 0), rgba(5, 7, 12, 0)), url(../imagen/imagen/escuelita.jpg); }

.fondoCanchas {
  background-image: linear-gradient(rgba(5, 7, 12, 0), rgba(5, 7, 12, 0)), url(../imagen/cancha-panoramica.jpeg); }

.articuloServicios {
  border: none;
  height: 500px;
  font-family: "cooper-hewitt";
  text-align: center; }

.textoServicios {
  font-family: "cooper-hewitt";
  font-style: italic;
  text-align: center;
  color: black; }

.leyenda {
  font-family: "cooper-hewitt";
  font-style: italic;
  color: #7adfbb; }

.fondoGimnasio {
  background-image: url(../imagen/gym-funcional.jpeg); }

.articuloGimnasio {
  border: none;
  height: 300px;
  font-family: "cooper-hewitt";
  text-align: center; }

body {
  background-image: linear-gradient(rgba(5, 7, 12, 0), rgba(5, 7, 12, 0)), url(../imagen/cancha-panoramica1.jpeg);
  width: 100vw; }

.redes {
  width: 30px;
  height: 30px; }

.borde {
  border: 1px solid black;
  margin: 5px; }

.navegacion ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

li {
  display: inline-block;
  text-decoration: none;
  padding-left: 3px; }

a {
  font-family: "cooper-hewitt";
  font-style: italic;
  color: #7dba84; }

.textoGaleria {
  font-family: "cooper-hewitt";
  font-style: italic;
  color: #7dba84; }

.imgGaleria {
  width: 90%;
  display: block; }

.textoNav {
  display: inline; }

li {
  border: solid 2px black; }

/* INICIA GRID CONTACTO */
.contacto {
  display: grid;
  width: 100vw;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: 100%;
  grid-template-areas: "infoPersonal" "infoServicios"; }

.infoPersonal {
  grid-area: infoPersonal;
  font-family: "cooper-hewitt";
  font-style: italic;
  color: #7dba84; }

.infoServicios {
  grid-area: infoServicios;
  display: flex;
  flex-direction: column;
  font-size: "cooper-hewitt";
  color: #7dba84;
  font-style: italic; }

.boton {
  width: 20%; }

@media screen and (min-width: 768px) {
  .contacto {
    display: grid;
    width: 100vw;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 20% 80%;
    grid-template-areas: "nav infoPersonal" "nav infoServicios" "nav boton"; }
  .infoPersonal {
    font-family: "cooper-hewitt";
    font-style: italic;
    color: black; }
  .infoServicios {
    display: flex;
    flex-direction: row;
    font-size: "BPdiet";
    color: lightgreen;
    font-weight: 800; }
  .boton {
    grid-area: boton;
    display: flex;
    flex-direction: column; } }

/* INICIA GRID DE SERVICIOS */
.servicios {
  display: grid;
  width: 100vw;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: 100%;
  grid-template-areas: "articuloServicios" "articuloGimnasio"; }

.articuloServicios {
  grid-area: articuloServicios;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.articuloGimnasio {
  grid-area: articuloGimnasio;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

@media screen and (min-width: 768px) {
  .servicios {
    display: grid;
    width: 100vw;
    grid-template-rows: 100%;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "articuloServicios articuloGimnasio"; }
  .articulogimnasio {
    display: flex;
    flex-direction: column;
    justify-content: space-around; } }
