 $color-header: rgba(48, 99, 142, 0.651);
 $fondo-body:url(../imagen/cancha-panoramica1.jpeg);  
 $color-nav:#e2f89c;
 
/* utilizo mapa para definir colores en todos los H2 del sitio */
 $color-servicios:(tituloS:#e2f89c,leyenda:#7adfbb,texto:black,otro:#30638e); 
 