  $color-header: rgba(48, 99, 142, 0.651); 
  $fondo-body:url(../imagen/cancha-panoramica1.jpeg);   
  $fondo-servicios:rgba(245, 245, 245, 0.3);

 
/* utilizo mapa para definir colores en todos los H2 del sitio */
 $color-servicios:(tituloS:rgb(47, 170, 192),leyenda:#76c06c,tituloEscuela:rgb(47, 170, 192),otro:black); 
 