* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


@import 'mixins';
@import 'variables';

@font-face {
    font-family: "BPdiet";
    src: url('../fonts/BPdiet.otf')
}

@font-face {
    font-family: "cooper-hewitt";
    src: url(../fonts/cooper-hewitt/CooperHewitt-HeavyItalic.otf)
}
body {
    background-image: linear-gradient(rgba(5, 7, 12, 0), rgba(5, 7, 12, 0)), $fondo-body;
    width: 100vw;

}

.redes {
    width: 30px;
    height: 30px;
}


li {
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;

}

h1 {
    font-family: "BPdiet";
    color: black;
    overflow-wrap: break-word;

}




iframe {
    height: 90%;
    width: 99%
}

.imgGaleria {
    width: 90%;
    display: block;
}

.header {
    background-color: $color-header;
    border: 2px solid black;
    margin-top: 4px;
    border-radius: 5px;
}



.textoFooter {
    color: white;
    padding-top: 35px;
}

.navbar {
    background-color: $color-header;
}

/* ARRANCA CSS DE INDEX */
.contenedor {

    display: grid;
    width: 100vw;
    gap: 5px;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 0.3fr 5%;
    grid-template-areas: "articuloEscuela"
        "articuloCanchas"
        "publicidad"

}


.articuloEscuela {
    grid-area: articuloEscuela;
    display: flex;
    flex-direction: column;
    background-color: rgba(48, 99, 142, 0.85);
    width: 100vw;

    .imagenEscuela {
        width: 100%;
    }

}

.textoIndex {
    padding: 4px;
    text-align: justify;
}

.articuloCanchas {
    grid-area: articuloCanchas;
    display: flex;
    flex-direction: column;
    background-color: rgba(125, 186, 132, 0.85);
    width: 100vw;

    .imagenCanchas {
        width: 100%;
    }


}

.publicidad {
    grid-area: publicidad;
    display: flex;
    flex-direction: column;
    align-items: center;

    .imagenPubli {
        width: 45%;
        height: 100%;
    }

    .articuloPubli {
        margin-top: 5px;
        background-color: rgb(245, 133, 63);
        text-align: justify;
        font-size: medium;
    }
}





@media screen and (min-width:768px) {
    .contenedor {
        display: grid;
        width: 100vw;
        gap: 5px;
        grid-template-columns: 80% 20%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "articuloEscuela publicidad"
            "articuloCanchas publicidad";
    }



    .articuloEscuela {
        display: flex;
        flex-direction: row;
        background-color: rgba(245, 245, 245, 0.2);



        .cajaImagen {
            width: 100%;
            height: 100%;
            background-color: rgba(211, 211, 211, 0.7);
            border-radius: 5px;



            .imagenEscuela {
                width: 95%;
                height: 100%;
                padding: 5px;
                border-radius: 15px;
            }

        }

        .textoIndex {
            width: 70%;
            color: black;
            font-family: "Cooper-hewitt";
            font-size: x-large;
        }

    }

    .articuloCanchas {
        display: flex;
        flex-direction: row;
        background-color: rgba(245, 245, 245, 0.2);


        .cajaImagen {
            width: 100%;
            height: 100%;
            padding-right: 5px;
            background-color: rgba(211, 211, 211, 0.7);
            border-radius: 5px;

            .imagenCanchas {
                width: 100%;
                height: 100%;
                padding: 10px;
                border-radius: 15px;
            }
        }

        .textoIndex {
            padding-top: 30px;
            width: 70%;
            color: black;
            font-family: "Cooper-hewitt";
            font-size: x-large;
        }


    }

    .publicidad {
        display: flex;
        flex-direction: column;


        .articuloPubli {
            background-color: rgba(245, 133, 63, 0.5);
            @include sizes(100%, 50%);
            font-family: "cooper-hewitt";
            font-size: large;
            padding: 30px;
            padding-top: 50px;


        }

        .imagenPubli {
            @include sizes(100%, 50%);
            border-radius: 10px;

        }
    }




}

/* ARRANCA CSS DE ESCUELA DE FUTBOL */
.contenedorEscuela{
    display:grid;
    width:98vw;
    gap:5px;
    grid-template-columns: 100%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: "contenedorEscuela"
    "articuloEscuela"
    "tabla"
}

.contenedorEscuela{
    grid-area:contenedorEscuela;
    margin-top:5px;
    .imagenEscuela{
        width:100%;
        border-radius: 3px;
    }
}
.articuloEscuela{
    grid-area:articuloEscuela;
    background-color: rgba(216, 211, 204, 0.5);
    padding: 3px;
    width: 98vw;
    border-radius: 3px;
       
}
.tabla{
    grid-area:tabla;
    
}






/* FORMATO DE TABLA DE SECCION ESCUELITA */


table {
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
}

tbody tr td {
    text-align: center;
}

th,
tfoot,
td {
    border: 3px solid black;
}

/* TERMINA FORMATO DE TABLA DE SECCION ESCUELITA */














/* INICIA GRID CONTACTO */

.contacto {
    display: grid;
    width: 100vw;
    grid-template-rows: 45% 45%;
    grid-template-columns: 100%;
    grid-template-areas:
        "infoPersonal"
        "infoServicios";
}



.infoPersonal {
    grid-area: infoPersonal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: "cooper-hewitt";
    font-style: italic;
    color: aliceblue;
}

.infoServicios {
    grid-area: infoServicios;
    display: flex;
    flex-direction: column;

    width: 100%;
    font-family: "cooper-hewitt";
    color: aliceblue;
    font-style: italic;

    .cuadroDialogo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.boton {
    width: 20%;
}

@media screen and (min-width:768px) {
    .contacto {
        display: grid;
        width: 100vw;
        grid-template-rows: 30% 30% 30%;
        grid-template-columns: 100%;
        grid-template-areas:
            "infoPersonal"
            " infoServicios"
            " boton";
    }

    .infoPersonal {
        font-family: "cooper-hewitt";
        font-style: italic;
        color: aliceblue;
    }

    .infoServicios {
        display: flex;
        flex-direction: column;
        font-size: "BPdiet";
        color: aliceblue;
        font-weight: 800;

        legend {
            text-align: center;
        }

        .boton {
            grid-area: boton;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
}

/* INICIA GRID DE SERVICIOS */
.servicios {
    display: grid;
    width: 100vw;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    grid-template-areas: "articuloServicios"
        "articuloGimnasio";
}

.articuloServicios {
    border: none;
    height: 500px;
    font-family: "cooper-hewitt";
    text-align: center;

}

.textoServicios {
    font-family: "cooper-hewitt";
    font-style: italic;
    text-align: center;



}


.articuloGimnasio {
    border: none;
    height: 300px;
    font-family: "cooper-hewitt";
    text-align: center;
}

.articuloServicios {
    grid-area: articuloServicios;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 5px;
    background-color: rgba(245, 245, 245, 0.3);

    .textoServicios {
        color: black;

    }


}

.articuloGimnasio {
    grid-area: articuloGimnasio;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $fondo-servicios;
    border-radius: 15px;

    .textoServicios {
        color: black;
        margin-top: 15px;
    }

    
}

@media screen and (min-width:768px) {
    .servicios {
        display: grid;
        width: 100vw;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "articuloServicios articuloGimnasio";
    }

    .articuloServicios {
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }

    .articuloGimnasio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $fondo-servicios;

    }

}


/* uso de variables*/
.contenedorFooter {
    background-color: $color-header;
    border: 3px solid black;
    border-radius: 3px;
    display: grid;
    width: 100vw;
    padding: 15px;
    grid-template-rows: 90%;
    grid-template-columns: 80% 20%;
    grid-template-areas: "infoUtil infoRedes"
}

.infoUtil {
    grid-area: infoUtil;
    color: white;
    margin-left: 15px;

}

.infoRedes {
    grid-area: infoRedes;
    display: flex;
    padding-right: 5px;

    ul {
        li {
            padding-top: 15px 20px 0 0;
            border: none;
        }
    }
}

@each $color,
$valor in $color-servicios {
    .#{$color} {
        color: $valor;
    }
}

.textoEscuela {
    color: map-get($color-servicios, texto);
    font-family: "cooper-hewitt";
    font-size: large;
}

.tituloEscuela {
    color: map-get($color-servicios, tituloEscuela);
    font-family: "BPdiet";
    font-style: italic;
    width: 60%;
    text-align: right;
    font-size: large;
}

.tituloCanchas {
    width: 60%;
    text-align: right;
    color: map-get($color-servicios, tituloEscuela);
    font-family: "BPdiet";
    font-style: italic;
    font-size: large;
}

.tituloS {
    color: map-get($color-servicios, tituloS);
    font-family: "BPdiet";
    font-style: italic;
}

.leyenda {
    color: map-get($color-servicios, leyenda);
    font-family: "BPdiet";
    font-style: italic;
}