* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


@import 'mixins';
@import 'variables';

@font-face {
    font-family: "BPdiet";
    src: url('../fonts/BPdiet.otf')
}

@font-face {
    font-family: "cooper-hewitt";
    src: url(../fonts/cooper-hewitt/CooperHewitt-HeavyItalic.otf)
}

body {
    background-image: linear-gradient(rgba(5, 7, 12, 0), rgba(5, 7, 12, 0)), $fondo-body;
    width: 100vw;

}

.redes {
    width: 30px;
    height: 30px;
}


li {
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;

}

h1 {
    font-family: "BPdiet";
    color: black;
    overflow-wrap: break-word;

}




iframe {
    height: 90%;
    width: 99%
}

.imgGaleria {
    width: 90%;
    display: block;
}

.header {
    background-color: $color-header;
    border: 2px solid black;
    margin-top: 4px;
    border-radius: 5px;
}



.textoFooter {
    color: white;
    padding-top: 35px;
}

.navbar {
    background-color: $color-header;
}

/* ARRANCA CSS DE INDEX */
.contenedor {

    display: grid;
    width: 100vw;
    gap: 5px;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: "carruselImagen"
        "carruselTexto"


}


.carruselImagen {
    grid-area: carruselImagen;
    margin: 5px;

     .imagenPrincipal {
        width: 100%;
        height: 100%;
        border-radius: 3px;
    } 
}

.carruselTexto {
    grid-area: carruselTexto;
    text-align: center;
    font-family: "cooper-hewitt";
    font-style: italic;
    background-color: $fondo-servicios;
    color: map-get($color-servicios, otro);
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}





@media screen and (min-width:768px) {
    .contenedor {
        display: grid;
        width: 98vw;
        grid-template-columns: 50% 50%;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: "carruselImagen carruselTexto"
            "publicidad publicidad";
           
            .imagenPrincipal{
                width:100%;
                height: 70vh;
            }
        }
    
        
           
        .textoPrincipal{
            width: 100%;
            
    .textoIndex {
        
        font-family: "cooper-hewitt";
        font-style: italic;
        padding-top: 10%;
        
    }
        }
    .publicidad {
        grid-area: publicidad;
        display: flex;
        flex-direction: row;
        margin-left: 30%;
    }

    .textoPubli {

        width: 60%;
        text-align: center;
        font-family: "cooper-hewitt";
        font-style: italic;
        background-color: $fondo-servicios;
        color: map-get($color-servicios, otro);
        margin: 5px;
        padding: 20px;
        border-radius: 3px;

    }

    .contenedorImagen {
        .imagenPubli {
            height: 245px;
            width: 60%;
            border-radius: 3px;

        }
    }

}








/* ARRANCA CSS DE ESCUELA DE FUTBOL */
.contenedorEscuela {
    display: grid;
    width: 98vw;
    gap: 5px;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.4fr 0.5fr;
    grid-template-areas: "contenedorPrincipal"
        "articuloEscuela"
        "tabla"
}

.contenedorEscuela {
    grid-area: contenedorEscuela;
    margin-top: 5px;

    .carrusel {
        height: 100%;
    }

    .imagenEscuela {
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }
}

.articuloEscuela {
    grid-area: articuloEscuela;
    background-color: rgba(216, 211, 204, 0.5);
    padding: 3px;
    width: 98vw;
    border-radius: 3px;

}

.tabla {
    grid-area: tabla;

}

@media screen and (min-width:768px) {
    .contenedorEscuela {
        display: grid;
        gap: 5px;
        width: 99vw;
        grid-template-columns: 50% 50%;
        grid-template-rows: 65% 35%;
        grid-template-areas: "contenedorPrincipal articuloEscuela"
            "tabla tabla";
    }

    .carousel-inner {
        .imagenEscuela {
            height: 80vh;
        }
    }

    .articuloEscuela {
        width: 97%;
        height: 100%;
        text-align: center;
    }
}

@media screen and (min-width:1500px) {
    .contenedorEscuela {
        display: grid;
        gap: 5px;
        width: 99vw;
        grid-template-columns: 50% 50%;
        grid-template-rows: 65% 35%;
        grid-template-areas: "contenedorPrincipal articuloEscuela"
            "tabla tabla";
    }

    .carousel-inner {
        .imagenEscuela {
            height: 70vh;
        }
    }

    .articuloEscuela {
        padding-top: 60px;
    }
}

/* FORMATO DE TABLA DE SECCION ESCUELITA */


table {
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
}

tbody tr td {
    text-align: center;
}

th,
tfoot,
td {
    border: 3px solid black;
}

/* TERMINA FORMATO DE TABLA DE SECCION ESCUELITA */

/* INICIA GRID CONTACTO */

.contacto {
    display: grid;
    width: 100vw;
    grid-template-rows: 45% 45%;
    grid-template-columns: 100%;
    grid-template-areas:
        "infoPersonal"
        "infoServicios";
}

.fondoCanchas{
    height: 215%;
    padding:3px;
    margin:10px;
    border: 2px solid lightgrey;
}


.infoPersonal {
    grid-area: infoPersonal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: "cooper-hewitt";
    font-style: italic;
    color: aliceblue;
}

.infoServicios {
    grid-area: infoServicios;
    display: flex;
    flex-direction: column;

    width: 100%;
    font-family: "cooper-hewitt";
    color: aliceblue;
    font-style: italic;

    .cuadroDialogo {
        display: flex;
        flex-direction: column;
        text-align:center ;
        
            }
}
.consulta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boton {
    width: 20%;
}

@media screen and (min-width:768px) {
    .contacto {
        display: grid;
        width: 100vw;
        grid-template-rows: 30% 30% 30%;
        grid-template-columns: 100%;
        grid-template-areas:
            "infoPersonal"
            " infoServicios"
            " boton";
    }
.fondoCanchas{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50%;
    height:320%;
}
    .infoPersonal {
        font-family: "cooper-hewitt";
        font-style: italic;
        color: aliceblue;
    }

    .infoServicios {
        display: flex;
        flex-direction: column;
        font-size: "BPdiet";
        color: aliceblue;
        font-weight: 800;

        legend {
            text-align: center;
        }

        .boton {
            grid-area: boton;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
}

/* INICIA GRID DE SERVICIOS */
.servicios {
    display: grid;
    width: 100vw;
    gap: 3px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "articuloServicios"
        "articuloGimnasio";
}

.articuloServicios {
    grid-area: articuloServicios;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    margin: 3px;
    background-color: rgba(245, 245, 245, 0.3);

    .textoServicios {
        color: black;
        font-family: "cooper-hewitt";
        font-style: italic;
    }


}

.articuloGimnasio {
    grid-area: articuloGimnasio;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $fondo-servicios;
    border-radius: 3px;
    margin: 3px;
    font-family: "cooper-hewitt";
    text-align: center;

    .textoServicios {
        color: black;
        margin-top: 15px;
    }


}

@media screen and (min-width:768px) {
    .servicios {
        display: grid;
        width: 100vw;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "articuloServicios articuloGimnasio";
    }

    .articuloServicios {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $fondo-servicios;


    }

    .articuloGimnasio {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $fondo-servicios;

    }

}

/* uso de variables*/
.contenedorFooter {
    display: grid;
    width: 100vw;
    grid-template-rows: 90%;
    grid-template-columns: 80% 20%;
    grid-template-areas: "infoUtil infoRedes";
    background-color: $color-header;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 3px;
    padding: 15px;

}

.infoUtil {
    grid-area: infoUtil;
    color: white;
    margin-left: 15px;

}

.infoRedes {
    grid-area: infoRedes;
    display: flex;
    padding-right: 5px;

    ul {
        li {
            padding-top: 15px 20px 0 0;
            border: none;
        }
    }
}

@each $color,
$valor in $color-servicios {
    .#{$color} {
        color: $valor;
    }
}

.textoEscuela {
    color: map-get($color-servicios, texto);
    font-family: "cooper-hewitt";
    font-size: medium;
}

.tituloEscuela {
    color: map-get($color-servicios, tituloEscuela);
    font-family: "BPdiet";
    font-style: italic;
    width: 60%;
    text-align: right;
    font-size: large;
}

.tituloCanchas {
    width: 60%;
    text-align: right;
    color: map-get($color-servicios, tituloEscuela);
    font-family: "BPdiet";
    font-style: italic;
    font-size: large;
}

.tituloS {
    color: map-get($color-servicios, tituloS);
    font-family: "BPdiet";
    font-style: italic;
}

.leyenda {
    color: map-get($color-servicios, leyenda);
    font-family: "BPdiet";
    font-style: italic;
}